@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations and utilities */
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}